* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
    color: rgb(1, 56, 56);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    background-color: rgba(199, 231, 235, 0.4);
    /* background-attachment: fixed; */
    overflow-x: hidden;
    background-image: url("/images/http___pluspng.com_img-png_png-jungle-leaf-extreme-swing-excursion-punta-cana-bavaro-dominican-republic-great-excursion-tour-for-the-whole-family-855.png");

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    height: 183px;
    /* justify-content: center; */
    align-items: center;
}

.headerA, .headerB {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerA {
    height: 53px;
}

.headerB {
    height: 120px;
}

.perch {
    border-left: 16px solid rgb(96, 21, 9);
    border-bottom: 10px solid rgb(96, 21, 9);
    border-radius: 0px 0px 0px 100px;
    height: 100px;
    width: 250px;
    margin-top: -25px;
    flex-shrink: 0;
}

.fill {
    height: 100px;
    width: 250px;
    margin-top: -25px;
    flex-shrink: 0;
}

.headerB span {
    transform: rotate(180deg);
    font-size: 70px;
    /* font-weight: bold; */
    color: rgb(142, 110, 105);
    text-shadow: 0px 0px 20px rgb(199, 231, 235);
    border-bottom: 10px solid rgb(96, 21, 9);
    height: 115px;
    position: relative;
    top: 12px;
}

.logo {
    height: 100px;
    width: 100px;
}
.logo img {
    height: 100%;
    margin-left: -2px;
}


#main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ******** inputs & buttons *********** */
a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formA {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.formB {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
}

.input {
    background-color: rgb(210, 250, 136);
    color: rgb(1, 56, 56);
    font-size: 20px;
    border-radius: 6px;
    padding: 3px 6px;
    border: none;
    font-family: 'Changa', sans-serif;
    margin-right: 10px;
}
.input:hover {
    box-shadow: inset 0px 0px 0px 2px rgb(1, 56, 56);
}
.input:focus {
    outline: none;
}

button {
    background-color: rgb(210, 250, 136);
    color: rgb(1, 56, 56);
    font-size: 18px;
    border: 2px rgb(1, 56, 56) solid;
    border-radius: 12px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:focus, button:hover {
    outline: none;
    background-color: rgb(1, 56, 56);
    color: rgb(210, 250, 136);
}

button:hover {
    cursor: pointer;
}

button:active {
  transform: translateY(3px);
}

#left a, #right a {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

/* ******** images *********** */
#images {
    display: flex;
    align-items: flex-start;
    /* position: relative; */
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    width: 100%;
    padding: 0 10%;
}

.img-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#images .img-card p {
    font-size: 22px;
    font-weight: bold;
}

.img-box {
    border: 2px rgb(1, 56, 56) solid;
    border-radius: 15px;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ************** modal **************** */
.component {
    background-color: rgba(220, 242, 178, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}
.close-box {
    width: 100%;
    text-align: right;
    padding: 0 25px;
    font-size: 30px;
    font-weight: bold;
}

#closeX:hover {
    cursor: pointer;
}

#left, #right {
    position: relative;
    top: 180px;
    width: 24px;
    height: 45px;
}

#img-card-wrapper {
    display: flex;
}

.component .img-box {
    width: 500px;
    height: 400px;
    margin-bottom: 10px;
}

.m-desc {
    font-weight:normal;
    font-size: 20px;
}

.uploaded {
    font-style: italic;
    font-size: 16px;
    margin-top: 6px;
}

#comment-input, #comments {
    width: 60%;
    max-width: 650px;
    min-width: 450px;
}

#comment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:  wrap;
    margin-bottom: 20px;
    margin-top: 10px;
}

.comment {
    font-size: 18px;
}

.comment-box {
    border: 2px rgb(1, 56, 56) solid;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
/* ************************************** */

footer {
    height: 30px;
    margin-top: 5px;
    padding-left: 25px;
}
