* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
    color: rgb(1, 56, 56);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    background-color: snow;
    /* background: linear-gradient(
    to bottom,
    mediumaquamarine,
    snow,
    snow
    ); */
    /* background-attachment: fixed; */
    overflow-x: hidden;
}

header {
    height: 120px;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

#main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ******** inputs & buttons *********** */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formA {
    margin-bottom: 10px;
}

.formB {
    width: 100%;
}

.input {
    background-color: rgb(210, 250, 136);
    color: rgb(1, 56, 56);
    font-size: 18px;
    border-radius: 6px;
    padding: 3px 6px;
    border: none;
    font-family: 'Changa', sans-serif;
}
.input:hover {
    box-shadow: inset 0px 0px 0px 3px rgb(1, 56, 56);
}
.input:focus {
    outline: none;
}

button {
    background-color: rgb(210, 250, 136);
    color: rgb(1, 56, 56);
    font-size: 18px;
    border: 2px rgb(1, 56, 56) solid;
    border-radius: 12px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:focus, button:hover {
    outline: none;
    background-color: rgb(1, 56, 56);
    color: rgb(210, 250, 136);
}

button:hover {
    cursor: pointer;
}

button:active {
  transform: translateY(3px);
}
/* ******** images *********** */
#images {
    display: flex;
    align-items: flex-start;
    /* position: relative; */
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    width: 100%;
    margin: 0 10px;
}

.img-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.img-box {
    border: 2px rgb(1, 56, 56) solid;
    border-radius: 15px;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ************** modal **************** */
.component {
    background-color: rgba(210, 250, 136, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}
.component .img-box {
    width: 450px;
    height: 350px;
}
.comment-box {
    border: 2px rgb(1, 56, 56) solid;
}
/* ************************************** */

footer {
    height: 30px;
    margin-top: 5px;
    padding-left: 25px;
}
